<h1> Vehicles </h1>
<<<<<<< HEAD
<div class="table-striped table-responsive">
=======
<div class="table-responsive">
>>>>>>> heroku
  <table class="table">
    <thead>
      <th>                Model              </th>
      <th>                VIN              </th>
      <th>                Year              </th>
    </thead>
    <tbody>
      <% @vehicles.each do |vehicle|%>
        <tr>
          <td><%= vehicle.model %></td>
          <td><%= vehicle.vin %></td>
          <td><%= vehicle.year %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
